[submodule "sources/openc-schema"]
	path = sources/openc-schema
	url = git@github.com:openc/openc-schema.git
[submodule "sources/opencorporates"]
	path = sources/opencorporates
	url = git@github.com:openc/openc-schema.git
[submodule "sources/popolo"]
	path = sources/popolo
	url = https://github.com/popolo-project/popolo-spec
