[submodule "sources/opencorporates"]
	path = sources/opencorporates
  url = https://github.com/openc/openc-schema
[submodule "sources/popolo"]
	path = sources/popolo
	url = https://github.com/popolo-project/popolo-spec
